.sale {
  width: 75%;
  background-color: #101010;

  display: flex;
  align-items: center;
  justify-content: center;
}


.expensesCard {
  background-color: white;
  width: 95%;
  height: 95%;
  border-radius: 30px;
  display: flex;
}

.leftSection {
  width: 65%;
  padding: 5rem;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  justify-content: right;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_titel {
  font-weight: 600;
  font-size: 40px;
}

.generatedTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: separate;
  border-width: 0px;
  border-color: #999999;
  border-style: solid;
  color: #474747;

  thead {
    background-color: #2e2e2d;
    color: white;
    th{
      padding: .7em 0;
      font-size: medium;
    }
  }

  td, th{
    border-width: 0px;
    border-color: #999999;
    border-style: solid;
    padding: 2px;
    text-align: center;
    padding: .4em 0;
  }

  .selectBox{
    width: fit-content;
    border: 1px solid #333;
    border-radius: 5%;
    padding: 1px;
  }
}

.primaryBtn {
  display: block;
  width: 100%;
  padding: .7rem 0;
  border: none;
  background: #222;
  color: #fff;
  border: 2px solid #222;
  border-radius: 3px;
  text-align: center;
}

.primaryBtn:hover {
  background: #444;
  border: 2px solid #444;
  transition: all .5s
}

.secondaryBtn {
  display: block;
  width: 100%;
  padding: .7rem 0;
  border: none;
  color: #222;
  border: 2px solid #222;
  border-radius: 3px;
  text-align: center;
}

.secondaryBtn:hover {
  background: rgb(83, 83, 83);
  border: 2px solid rgb(83, 83, 83);
  color: white;
  transition: all .5s
}

.popup {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.609);
  
  .popupBlocker{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #22222271;
  }
}
.buttonsWrapper{
  margin-top: auto;
}

.rightSection {
  width: 35%;
  background-color: #f9fafc;
  border-radius: 0 50px 50px 0;
  padding: 5rem 2rem;
  overflow-y: hidden;
}
